[package]
name = "api"
version.workspace = true
edition = "2021"

[dependencies]
visualizer-types = { path = "../types" }
tokio.workspace = true
axum.workspace = true
tower-http.workspace = true
serde.workspace = true
serde_json.workspace = true
